<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
regsiter karo ka form


<form action="/login/register", method="POST" class="form-horizontal" name ="userReg"  enctype="multipart/form-data">
  First name:<br>
  <input type="text" name="Name" value="">
  <br>
  Date of Birth:<br>
  <input type="text" name="Date_Of_Birth" value="">
    <br>
 SSN:<br>
  <input type="text" name="Social_Security_Number" value="">
    <br>
   Mother’s Maiden Name:<br>
  <input type="text" name="Mother" value="">
    <br>
   Phone Number:<br>
  <input type="text" name="PhoneNumber" value="">
        <br>
 Email :<br>
  <input type="text" name="Email" value="">
    <br>
     Password :<br>
  <input type="text" name="Emails_Password" value="">
    <br>
   Address:<br>
  <input type="text" name="Address" value="">
    <br>
   Forward Address<br>
  <input type="text" name="Forwarded_Address" value="">
        <br>
   Amouny of Hard Inquiries:<br>
  <input type="text" name="Hard_Inquiry" value="">
    <br>
    <hr><hr>

  <br>
    Upload Documents here:
    <br><br>
    Social Security Card:<br>
    <input type="file" name="ssc"><br />
    <br><br>
    Drivers License:          <br>
        <input type="file" name="dl" accept="image/*">
    <br><br>
    Utility Bill:<br>
        <input type="file" name="ub" accept="image/*">
    <br><br>
    Paystub:<br>
        <input type="file" name="ps" accept="image/*">
    <br>

    <hr><hr>
    <br>
    Employer Information <br><br>
    <br>
  Employed At:<br>
  <input type="text" name="Employeed_At" value="">
    <br>
 Annual Salary:<br>
  <input type="text" name="Annual_Salary" value="">
    <br>
   Length of Employment:<br>
  <input type="text" name="Length_Employment" value="">
    <br>
   Employer Phone Number:<br>
  <input type="text" name="Employer_Phone_Number" value="">
        <br>
    Employer Email:<br>
  <input type="text" name="Employer_Email" value="">
        <br>

    <hr><hr>
    <br><br>
       Number of tradelines:<br>
  <input type="text" name="Number_Of_TradeLines" value="">
        <br>
    Number of cards applied for:<br>
  <input type="text" name="Number_Of_Cards_Applied_For" value="">
        <br>
        Number of cards:<br>
  <input type="text" name="Number_Of_Cards" value="">
        <br>

  <input type="submit" value="Submit">
</form>
</body>
</html>