<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
regsiter karo ka form


<form action="/regsiter/", method="POST" class="form-horizontal">
  First name:<br>
  <input type="text" name="firstname" value="Mickey">
  <br>
  Date of Birth:<br>
  <input type="text" name="lastname" value="Mouse">
    <br>
 SSN:<br>
  <input type="text" name="lastname" value="Mouse">
    <br>
   Mother’s Maiden Name:<br>
  <input type="text" name="lastname" value="Mouse">
    <br>
   Phone Number:<br>
  <input type="text" name="lastname" value="Mouse">
        <br>
 Email :<br>
  <input type="text" name="lastname" value="Mouse">
    <br>
   Address:<br>
  <input type="text" name="lastname" value="Mouse">
    <br>
   Forward Address<br>
  <input type="text" name="lastname" value="Mouse">
        <br>
   Amouny of Hard Inquiries:<br>
  <input type="text" name="lastname" value="Mouse">
    <hr><hr>

  <br><br>


  <input type="submit" value="Submit">
</form>
</body>
</html>